.body10{
  background-color: rgb(226, 226, 226);
    background-size: cover;
}

.nav{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
        background-color: rgb(37, 42, 52);
      
        height: 65px;
        border-radius: 4px;
        display:flex;
}


.logo{
    margin-top: -7px;
    margin-left: 10px;
}


.text-none{
    text-decoration: none;
}


.home{
    color:rgb(234, 234, 234);
    font-size: 40px;
    margin-left: 30px;
    margin-top: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.info{
    color:rgb(234, 234, 234);
    font-size: 40px;
    margin-left: 30px;
    margin-top: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


.stores{
    color:rgb(234, 234, 234);
    font-size: 40px;
    margin-left: 30px;
    margin-top: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


.services{
    color:rgb(234, 234, 234);
    font-size: 40px;
    margin-left: 30px;
    margin-top: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.food{
    color:rgb(234, 234, 234);
    font-size: 40px;
    margin-left: 30px;
    margin-top: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.hover-nav{
    transition: all 0.4s;
}

.hover-nav:hover{
    color:rgb(151, 151, 151)
}

.p1{
    font-size: 35px;
    margin-top: 60px;
    text-align: center;
    width: 500px;
    height: 900px;
    margin-left: 20px;
    color: rgb(8, 217, 214);
}


.p1-div{
    display: flex;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    width: 500px;
    height: 610px;
    margin-top: 80px;
    margin-left: 1000px;
    border-radius: 10px;
}


.back-vid{
position: absolute;
right: 0;
bottom: 0;
z-index: -1;

}

@media (min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-vid{
        height: 100%;
        width: auto;
    }
}

.p2-home{
width: 900px;
height: 500px;
background-color: rgb(255, 46, 99);
margin-left: 200px;
border-radius: 10px;
}

.home-2{
    display: flex;
    margin-top: 150px;
}

.dog-pho{
    margin-left: 40px;
}


.p2{
    color:rgb(37, 42, 52);
    font-size: 55px;
    width: 850px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
}



.p3-home{
    width: 900px;
    height: 500px;
    background-color:rgb(37, 42, 52);
    margin-left: 20px;
    border-radius: 10px;
    }
    
    .home-3{
        display: flex;
        margin-top: 50px;
    }
    
    .bird-pho{
        margin-left: 1150px;
        margin-top: -500px;
        
    }
    

    .pho3{
  border-radius: 10px;
    }
    
    .p3{
        color:rgb(234, 234, 234);
        font-size: 49px;
        width: 850px;
        text-align: center;
        margin-top: 60px;
        margin-left: 30px;
    }



    .p4-home{
        width: 900px;
        height: 500px;
        background-color: rgb(255, 46, 99);
        margin-left: 200px;
        border-radius: 10px;
        }
        
        .home-4{
            display: flex;
            margin-top: 700px;
        }
        
        .fish-pho{
            margin-left: -900px;
        }

        .pho4{
            border-radius: 10px;
              }
        
        
        .p4{
            color:rgb(37, 42, 52);
            font-size: 55px;
            width: 850px;
            text-align: center;
            margin-top: 30px;
            margin-left: 30px;
        }





        .home-end{

            width: 200px;
            height: 100px;
            margin-top: 100px;
            background-color: rgb(37, 42, 52);
          
        }


.footer{
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
    background-color:  rgb(37, 42, 52);
    position: relative;
    color: white;
    text-align: center;
}



.footer::before{
    content:"" ;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 / 70%);
}


.footer.container{
    position: relative;
}













.card1{
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card2{
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card3{
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card4{
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cat{
    margin-top: 150px;
 
}

.dog{
    margin-top: 150px;
    margin-left: 50px;
    
}

.bird{
    margin-top: 150px;
    margin-left: 50px;
}

.fish{
    margin-top: 150px;
    margin-left: 50px;
}

.cards{
    margin-top: 50px;
    display: flex;
  justify-content: space-evenly;
  
}

.card1:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    .photo1{
        height: 220px;
    width: 330px;
    }
    .h1-photo1{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-cats{
        font-size: 90px; 
        margin-top: 4px;
        color: white;
    } 
    
}

.card2:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    .photo2{
        height: 220px;
    width: 330px;
    }
    .h1-photo2{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-dogs{
        font-size: 90px; 
        margin-top: 4px;
        color: white;
    } 
    
}


.card3:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    .photo3{
        height: 220px;
    width: 330px;
    }
    .h1-photo3{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-birds{
        font-size: 90px; 
        margin-top: 4px;
        color: white;
    } 
    
}


.card4:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    .photo4{
        height: 220px;
    width: 330px;
    }
    .h1-photo4{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-fish{
        font-size: 90px; 
        margin-top: 4px;
        color: white;
    } 
    
}


.photo1{
border-radius: 4px;
transition: all 0.7s;
}

.photo2{
    border-radius: 4px;
    transition: all 0.7s;
}

.photo3{
    border-radius: 4px;
    transition: all 0.7s;
}

.photo4{
    border-radius: 4px;
    transition: all 0.7s;
}



.h1-photo1{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
    text-decoration: none; 
}

.h1-photo2{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
}

.h1-photo3{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
}

.h1-photo4{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
    
}

.h1-cats{
text-align: center;
font-size: 85px;
margin-top: -2.5px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(37, 42, 52); 
transition: all 0.7s;

}



.h1-dogs{
    text-align: center;
    font-size: 85px;
    margin-top: -2.5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(37, 42, 52); 
    transition: all 0.7s; 
    }

    .h1-birds{
        text-align: center;
        font-size: 85px;
        margin-top: -2.5px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(37, 42, 52); 
        transition: all 0.7s; 
        }

        .h1-fish{
            text-align: center;
            font-size: 85px;
            margin-top: -2.5px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(37, 42, 52); 
            transition: all 0.7s; 
            }







.cat-info{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    transition: all 1s;
}


.info-click{
    color: rgb(37, 42, 52); 
    margin-top: 10px;
    margin-left: 360px;
    height: 30px;
    width: 30px;
}


    .cat-info:hover{
        width: 1500px;

        .p-cat-info1{
            color: black;
            font-size: 35px;
            
            margin-left: 450px;
            margin-top: -250px;
        }

        .p-cat-info3{
            color: black;
            font-size: 35px;
           
            margin-left: 430px;
            margin-top: -270px;
        }

        .p-cat-info5{
            color: black;
            font-size: 35px;
           
            margin-left: 430px;
            margin-top: -270px;
        }

        .p-cat-info7{
            color: black;
            font-size: 35px;
           
            margin-left: 430px;
            margin-top: -230px;
        }
      
    }



.h1-info-click{
   text-align: center;
   margin-top: -3px;
}


.cat-info1{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-cat-info{
   
    width: 360px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}


.h1-cat-info1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-cat-info1{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





.cat-info2{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-cat-info2{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-cat-info2{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.cat-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.cat-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-cat-info2{
        margin-left: 1030px;
        width: 500px;
    }

.cat-info2{
    margin-left: 1100px;
}


    .p-cat-info2{
        color: black;
        font-size: 35px;
        margin-top: -250px;
        margin-left: 30px;
        margin-top: -250px;
    }
  
}


 
 
 .cat-info3{
     border-radius: 5px;
     margin-top: 10px;
     margin-left: 10px;
 }
 
 
 
 .h1-cat-info3{
     text-align: center;
     margin-top: 10px;
     font-size: 50px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
     color: rgb(37, 42, 52); 
 }
 
 
 
 .p-cat-info3{
 font-size: 1%;
 color: rgb(255, 255, 255);
 text-align: right;
 width: 1050px;
 height: 300px;
 transition: all 2s;
 margin-left: 500px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
 }







 .cat-info4{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-cat-info4{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-cat-info4{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.cat-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.cat-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-cat-info4{
        margin-left: 1030px;
        width: 500px;
    }

.cat-info4{
    margin-left: 1100px;
}


    .p-cat-info4{
        color: black;
        font-size: 35px;
        margin-top: -200px;
        margin-left: 30px;
       
    }
  
}







.cat-info5{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-cat-info5{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-cat-info5{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1050px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





.cat-info6{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-cat-info6{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-cat-info6{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.cat-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.cat-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-cat-info6{
        margin-left: 1030px;
        width: 500px;
    }

.cat-info6{
    margin-left: 1100px;
}


    .p-cat-info6{
        color: black;
        font-size: 35px;
        margin-top: -180px;
        margin-left: 30px;
       
    }
  
}






.cat-info7{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-cat-info7{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-cat-info7{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1050px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
























.dog-info{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    transition: all 1s;
}


.info-click{
    color: rgb(37, 42, 52); 
    margin-top: 10px;
    margin-left: 360px;
    height: 30px;
    width: 30px;
}


    .dog-info:hover{
        width: 1500px;

        .p-dog-info1{
            color: black;
            font-size: 35px;
            
            margin-left: 450px;
            margin-top: -250px;
        }

        .p-dog-info3{
            color: black;
            font-size: 31px;
           
            margin-left: 430px;
            margin-top: -250px;
        }

        .p-dog-info5{
            color: black;
            font-size: 35px;
           
            margin-left: 430px;
            margin-top: -270px;
        }

        .p-dog-info7{
            color: black;
            font-size: 35px;
           
            margin-left: 430px;
            margin-top: -245px;
        }
      
    }



.h1-info-click{
   text-align: center;
   margin-top: -3px;
}


.dog-info1{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-dog-info{
   
    width: 360px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}


.h1-dog-info1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-dog-info1{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





.dog-info2{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-dog-info2{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-dog-info2{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.dog-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.dog-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-dog-info2{
        margin-left: 1030px;
        width: 500px;
    }

.dog-info2{
    margin-left: 1100px;
}


    .p-dog-info2{
        color: black;
        font-size: 35px;
        margin-top: -270px;
        margin-left: 30px;
       
    }
  
}


 
 
 .dog-info3{
     border-radius: 5px;
     margin-top: 10px;
     margin-left: 10px;
 }
 
 
 
 .h1-dog-info3{
     text-align: center;
     margin-top: 10px;
     font-size: 50px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
     color: rgb(37, 42, 52); 
 }
 
 
 
 .p-dog-info3{
 font-size: 1%;
 color: rgb(255, 255, 255);
 text-align: right;
 width: 1050px;
 height: 300px;
 transition: all 2s;
 margin-left: 500px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
 }







 .dog-info4{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-dog-info4{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-dog-info4{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.dog-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.dog-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-dog-info4{
        margin-left: 1030px;
        width: 500px;
    }

.dog-info4{
    margin-left: 1100px;
}


    .p-dog-info4{
        color: black;
        font-size: 32px;
        margin-top: -255px;
        margin-left: 30px;
       
    }
  
}







.dog-info5{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-dog-info5{
    text-align: center;
    margin-top: 10px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-dog-info5{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1050px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





.dog-info6{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-dog-info6{
    text-align: center;
    margin-top: 10px;
    margin-left: -60px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 500px;
    color: rgb(37, 42, 52); 
}



.p-dog-info6{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.dog-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.dog-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-dog-info6{
        margin-left: 1030px;
        width: 500px;
    }

.dog-info6{
    margin-left: 1100px;
}


    .p-dog-info6{
        color: black;
        font-size: 35px;
        margin-top: -270px;
        margin-left: 30px;
       
    }
  
}






.dog-info7{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-dog-info7{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-dog-info7{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1050px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


























.bird-info{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    transition: all 1s;
}


.info-click{
    color: rgb(37, 42, 52); 
    margin-top: 10px;
    margin-left: 360px;
    height: 30px;
    width: 30px;
}


    .bird-info:hover{
        width: 1500px;

        .p-bird-info1{
            color: black;
            font-size: 28px;
            
            margin-left: 450px;
            margin-top: -260px;
        }

        .p-bird-info3{
            color: black;
            font-size: 31px;
           
            margin-left: 430px;
            margin-top: -270px;
        }

        .p-bird-info5{
            color: black;
            font-size: 35px;
           
            margin-left: 430px;
            margin-top: -270px;
        }

        .p-bird-info7{
            color: black;
            font-size: 30px;
           
            margin-left: 430px;
            margin-top: -265px;
        }
      
    }



.h1-info-click{
   text-align: center;
   margin-top: -3px;
}


.bird-info1{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-bird-info{
   
    width: 360px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}


.h1-bird-info1{
    text-align: center;
    margin-top: 10px;
    margin-left: -60px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    color: rgb(37, 42, 52); 
}



.p-bird-info1{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





.bird-info2{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-bird-info2{
    text-align: center;
    margin-top: 10px;
    margin-left: -60px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    color: rgb(37, 42, 52); 
}



.p-bird-info2{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.bird-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.bird-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-bird-info2{
        margin-left: 1030px;
        width: 500px;
    }

.bird-info2{
    margin-left: 1100px;
}


    .p-bird-info2{
        color: black;
        font-size: 25px;
        margin-top: -260px;
        margin-left: 30px;
       
    }
  
}


 
 
 .bird-info3{
     border-radius: 5px;
     margin-top: 10px;
     margin-left: 10px;
 }
 
 
 
 .h1-bird-info3{
     text-align: center;
     margin-top: 10px;
     font-size: 50px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
     color: rgb(37, 42, 52); 
 }
 
 
 
 .p-bird-info3{
 font-size: 1%;
 color: rgb(255, 255, 255);
 text-align: right;
 width: 1050px;
 height: 300px;
 transition: all 2s;
 margin-left: 500px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
 }







 .bird-info4{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-bird-info4{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-bird-info4{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.bird-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.bird-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-bird-info4{
        margin-left: 1030px;
        width: 500px;
    }

.bird-info4{
    margin-left: 1100px;
}


    .p-bird-info4{
        color: black;
        font-size: 35px;
        margin-top: -230px;
        margin-left: 30px;
       
    }
  
}







.bird-info5{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-bird-info5{
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    color: rgb(37, 42, 52); 
}



.p-bird-info5{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1050px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





.bird-info6{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-bird-info6{
    text-align: center;
    margin-top: 10px;
    margin-left: -60px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 500px;
    color: rgb(37, 42, 52); 
}



.p-bird-info6{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.bird-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.bird-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-bird-info6{
        margin-left: 1030px;
        width: 500px;
    }

.bird-info6{
    margin-left: 1100px;
}


    .p-bird-info6{
        color: black;
        font-size: 32px;
        margin-top: -255px;
        margin-left: 30px;
       
    }
  
}






.bird-info7{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-bird-info7{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-bird-info7{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1050px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}






































.fish-info{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    transition: all 1s;
}


.info-click{
    color: rgb(37, 42, 52); 
    margin-top: 10px;
    margin-left: 360px;
    height: 30px;
    width: 30px;
}


    .fish-info:hover{
        width: 1500px;

        .p-fish-info1{
            color: black;
            font-size: 28px;
            
            margin-left: 450px;
            margin-top: -260px;
        }

        .p-fish-info3{
            color: black;
            font-size: 35px;
           
            margin-left: 430px;
            margin-top: -265px;
        }

        .p-fish-info5{
            color: black;
            font-size: 30px;
           
            margin-left: 430px;
            margin-top: -265px;
        }

        .p-fish-info7{
            color: black;
            font-size: 30px;
           
            margin-left: 430px;
            margin-top: -260px;
        }
      
    }



.h1-info-click{
   text-align: center;
   margin-top: -3px;
}


.fish-info1{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-fish-info{
   
    width: 360px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}


.h1-fish-info1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-fish-info1{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





.fish-info2{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-fish-info2{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-fish-info2{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.fish-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.fish-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-fish-info2{
        margin-left: 1030px;
        width: 500px;
    }

.fish-info2{
    margin-left: 1100px;
}


    .p-fish-info2{
        color: black;
        font-size: 30px;
        margin-top: -270px;
        margin-left: 30px;
       
    }
  
}


 
 
 .fish-info3{
     border-radius: 5px;
     margin-top: 10px;
     margin-left: 10px;
 }
 
 
 
 .h1-fish-info3{
     text-align: center;
     margin-top: 10px;
     margin-left: -59px;
     font-size: 48px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     width: 500px;
     color: rgb(37, 42, 52); 
 }
 
 
 
 .p-fish-info3{
 font-size: 1%;
 color: rgb(255, 255, 255);
 text-align: right;
 width: 1050px;
 height: 300px;
 transition: all 2s;
 margin-left: 500px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
 }







 .fish-info4{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-fish-info4{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-fish-info4{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.fish-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.fish-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-fish-info4{
        margin-left: 1030px;
        width: 500px;
    }

.fish-info4{
    margin-left: 1100px;
}


    .p-fish-info4{
        color: black;
        font-size: 28px;
        margin-top: -260px;
        margin-left: 30px;
       
    }
  
}







.fish-info5{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-fish-info5{
    text-align: center;
    margin-top: 10px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(37, 42, 52); 
}



.p-fish-info5{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1050px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





.fish-info6{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-fish-info6{
    text-align: center;
    margin-top: 10px;
    margin-left: -60px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 500px;
    color: rgb(37, 42, 52); 
}



.p-fish-info6{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1000px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.fish-info0{
    border: 5px black solid;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 1080px;
    transition: all 1s;
}


.fish-info0:hover{
    width: 1500px;
    margin-left: 0px;


    .h1-fish-info6{
        margin-left: 1030px;
        width: 500px;
    }

.fish-info6{
    margin-left: 1100px;
}


    .p-fish-info6{
        color: black;
        font-size: 30px;
        margin-top: -265px;
        margin-left: 30px;
       
    }
  
}






.fish-info7{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}



.h1-fish-info7{
    text-align: center;
    margin-top: 10px;
    margin-left: -60px;
    font-size: 47px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    color: rgb(37, 42, 52); 
}



.p-fish-info7{
font-size: 1%;
color: rgb(255, 255, 255);
text-align: right;
width: 1050px;
height: 300px;
transition: all 2s;
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}






























.card1{
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card2{
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card3{
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card4{
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.petzone{
    margin-top: 150px;
 
}

.pet-holic{
    margin-top: 150px;
    margin-left: 50px;
    
}

.pet-barn{
    margin-top: 150px;
    margin-left: 50px;
}

.goofys-pet-shop{
    margin-top: 150px;
    margin-left: 50px;
}

.cards1{
    margin-top: 30px;
    display: flex;
  justify-content: space-evenly;
  
}

.card1:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    .photo1{
        height: 220px;
    width: 330px;
    }
    .h1-photo1{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-petzone{
        font-size: 60px; 
        margin-top: 20px;
        color: white;
    } 
    
}

.card2:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    .photo2{
        height: 220px;
    width: 330px;
    }
    .h1-photo2{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-pet-holic{
        font-size: 55px; 
        margin-top: 25px;
        color: white;
    } 
    
}


.card3:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    .photo3{
        height: 220px;
    width: 330px;
    }
    .h1-photo3{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-pet-barn{
        font-size: 55px; 
        margin-top: 23px;
        color: white;
    } 
    
}


.card4:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    .photo4{
        height: 220px;
    width: 330px;
    }
    .h1-photo4{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-goofys-pet-shop{
        font-size: 50px; 
        margin-top: 3px;
        color: white;
    } 
    
}


.photo1{
border-radius: 4px;
transition: all 0.7s;
}

.photo2{
    border-radius: 4px;
    transition: all 0.7s;
}

.photo3{
    border-radius: 4px;
    transition: all 0.7s;
}

.photo4{
    border-radius: 4px;
    transition: all 0.7s;
}



.h1-photo1{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
    text-decoration: none; 
}

.h1-photo2{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
}

.h1-photo3{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
}

.h1-photo4{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
    
}

.h1-petzone{
text-align: center;
font-size: 50px;
margin-top: 17px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(37, 42, 52); 
transition: all 0.7s;

}



.h1-pet-holic{
    text-align: center;
    font-size: 50px;
    margin-top: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(37, 42, 52); 
    transition: all 0.7s; 
    }

    .h1-pet-barn{
        text-align: center;
        font-size: 50px;
        margin-top: 17px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(37, 42, 52); 
        transition: all 0.7s; 
        }

        .h1-goofys-pet-shop{
            text-align: center;
            font-size: 45px;
            margin-top: -4px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(37, 42, 52); 
            transition: all 0.7s; 
            }










            
.card1{
    background-color: rgb(214, 214, 214);
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card2{
    background-color: rgb(214, 214, 214);
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card3{
    background-color: rgb(214, 214, 214);
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card4{
    background-color: rgb(214, 214, 214);
    border:5px black solid;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.pet-house{
    margin-top: 150px;
 
}

.the-pet-lobby{
    margin-top: 150px;
    margin-left: 50px;
    
}

.zue{
    margin-top: 150px;
    margin-left: 50px;
}

.pet-planet{
    margin-top: 150px;
    margin-left: 50px;
}

.cards2{
    margin-top: 50px;
    display: flex;
  justify-content: space-evenly;
  margin-top: -70px;
  
}

.card1:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    background-color: white;
    .photo1{
        height: 220px;
    width: 330px;
    }
    .h1-photo1{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-pet-house{
        font-size: 52px; 
        margin-top: 26px;
        color: white;
    } 
    
}

.card2:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    background-color: white;
    .photo2{
        height: 220px;
    width: 330px;
    }
    .h1-photo2{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-the-pet-lobby{
        font-size: 52px; 
       
        color: white;
    } 
    
}


.card3:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    background-color: white;
    .photo3{
        height: 220px;
    width: 330px;
    }
    .h1-photo3{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-zue{
        font-size: 55px; 
        margin-top: 23px;
        color: white;
    } 
    
}


.card4:hover{
    height: 400px;
    width: 330px;
    margin-top: 100px;
    background-color: white;
    .photo4{
        height: 220px;
    width: 330px;
    }
    .h1-photo4{
        height: 120px;
        width: 275px; 
        margin-top: 20px;
        margin-left: 25px;
        background-color: rgb(37, 42, 52);
    }
    .h1-pet-planet{
        font-size: 50px; 
        margin-top: 26px;
        color: white;
    } 
    
}


.photo1{
border-radius: 4px;
transition: all 0.7s;
}

.photo2{
    border-radius: 4px;
    transition: all 0.7s;
}

.photo3{
    border-radius: 4px;
    transition: all 0.7s;
}

.photo4{
    border-radius: 4px;
    transition: all 0.7s;
}



.h1-photo1{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
    text-decoration: none; 
}

.h1-photo2{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
}

.h1-photo3{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
}

.h1-photo4{
    border: 3px black solid;
    border-radius: 10px; 
    height: 100px;
    width: 250px;
    margin-top: 15px;
    margin-left: 22px;
    transition: all 0.7s;
    
}

.h1-pet-house{
text-align: center;
font-size: 50px;
margin-top: 17px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(37, 42, 52); 
transition: all 0.7s;

}



.h1-the-pet-lobby{
    text-align: center;
    font-size: 45px;
    margin-top: -7px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(37, 42, 52); 
    transition: all 0.7s; 
    }

    .h1-zue{
        text-align: center;
        font-size: 50px;
        margin-top: 16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(37, 42, 52); 
        transition: all 0.7s; 
        }

        .h1-pet-planet{
            text-align: center;
            font-size: 45px;
            margin-top: 15px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(37, 42, 52); 
            transition: all 0.7s; 
            }






























            .footer {
                text-align: center;
                font-size: 0.9rem;
                font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
              }



























































              .serpz{
                margin-top: 100px;
                margin-left: 90px;
                color:rgb(37, 42, 52);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 40px;
            }



            .col0{
                margin-left: 70px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
            }


.gh{
    margin-left: 300px;
}

              .container{
                margin-top: 20px;
                margin-left: 20px;
                display: flex;
                flex-direction: row;
              }

              .col{
                margin-left: 70px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
         
            }


            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
              }


              
              .container1{
                margin-top: 20px;
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                background-color: rgb(242, 242, 242);
                width: 1300px;
              }



          


            .col1{
                margin-left: 70px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
            }

            .col2{
                margin-left: 1500px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
            }



            .col3{
                margin-left: 90px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
            }


            .col4{
                margin-left: 90px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
            }


            .col5{
                margin-left: 90px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
            }


            








              .row1{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
              }







              .container2{
                margin-top: 20px;
                margin-left: 20px;
                display: flex;
                flex-direction: row;
              }

              .col2{
                margin-left: 70px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
            }


            .row2{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
              }
